body{
    background-color: black;
    margin: 0;
}

p{
    color: white;
}

#top-bar{
    display: flex;
    justify-content: space-around;
}

.klik{
    min-width: 200px;
}

.lijevi{
    font-family: 'Space mono', monospace;
}

.uSredini{
    font-family: 'Space mono', monospace;
}

.desni{
    font-family: 'Space mono', monospace;
}